*.[oda]
/.settings/
/games/
/install/
/build*/
/.vscode/*
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
/.vs/
/.idea/
/.cache/
/.clang*
/compile_commands.json
/conftest*
/ericw-tools-build.stamp
/icons/*.rc
__pycache__/
*.py[cod]
*.log
